#dashboard-header-label {
    font-family: 'Righteous', cursive;
}

#search-stx-container {
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    border: solid #999999;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 100px;
}

#query-header-label {
    font-family: 'Cantarell', sans-serif;
    font-size: 32px;
    color: #444444;
}

#order-stx-container {
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    border: solid #999999;
    border-width: 2px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 50px;
}

#order-header-label {
    font-family: 'Cantarell', sans-serif;
    font-size: 32px;
    color: #444444;
}

#search-header{
    border-bottom: 2px solid #999999;
}

#order-header {
    border-bottom: 2px solid #999999;
}

#input-group-search {
    margin-left: 25px;
    margin-top: 5px;
    width: 300px;
}

#button-ticker-search {
    border: 2px solid #287d8a;
    border-radius: 2px;;
    color: #287d8a;
    margin-left: 10px;
    font-family: 'Cantarell', sans-serif;
}

#dash-search-label {
    margin-left: 25px;
    margin-top: 20px;
    font-family: 'Righteous', cursive;
}

#inverval-button {
    margin-left: 25px;
}

.buy-sell-label {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.bs-seperator {
    margin-left: 20px;
    margin-right: 30px;
}


#buy-order {
    font-family: 'Lexend Tera', sans-serif;
}

#sell-order {
    font-family: 'Lexend Tera', sans-serif;
}

.order-input {
    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
}

.total-labels {
    margin-left: 30px;
    margin-top: 50px;
}

#buy-total-label {
    font-family: 'Cantarell', sans-serif;
}

#sell-total-label {
    font-family: 'Cantarell', sans-serif;
}

#input-bid-order-button {
    margin-left: 20px;
    background-color: #bbfabf;
    border: #57c95e solid 2px;
    color: #57c95e;
    border-radius: 3px;
}

#input-ask-order-button {
    margin-left: 20px;
    background-color: #fab1b1;
    border: #ed5151 solid 2px;
    color: #ed5151;
    border-radius: 3px;
}

.order-button {
    margin-top: 30px;
    width: 90%;
}

.pending-buy-row {
    background-color: #bbfabf;
    color: #57c95e;
}

.pending-sell-row {
    background-color: #fab1b1;
    color: #ed5151;
}